EjerciciosRepaso/Ejercicio_3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:simpleType name="tipoGenero">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Acción RPG"/>
            <xs:enumeration value="Carreras"/>
            <xs:enumeration value="Estrategia"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="catalogoVideojuegos">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="juego" minOccurs="2" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="id" type="xs:integer"/>
                            <xs:element name="titulo" type="xs:string"/>
                            <xs:element name="genero" type="tipoGenero"/>
                            <xs:element name="desarrollador" type="xs:string"/>
                            <xs:element name="plataforma" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>